.App{
    font-family: "The Jamsil 2 Light";
    font-family: "The Jamsil 1 Thin";
}

@font-face {
    font-family: "The Jamsil 2 Light";
    src: url(assets/fonts/The_Jamsil_TTF/The\ Jamsil\ 2\ Light.ttf);
}

@font-face {
    font-family: "The Jamsil 1 Thin";
    src: url(assets/fonts/The_Jamsil_TTF/The\ Jamsil\ 1\ Thin.ttf);
}